*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu';
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.hed__container{
    display: flex;
    gap: 15px;
}
.hed{
    width: 1368px;
    height: 460px;
    margin: 0 auto;
    background-color: #F0F4F8;
    margin-top: 34px;
    padding: 59px 62px;
    border-radius: 120px 6px 120px 6px;
}
.card1 .title h1{
    padding-top: 22px;
    font-weight:700 ;
    font-size:18px ;
    line-height:25px ;
}
.card1 .title p{
    margin-top: 2px;
    font-weight:400 ;
    font-size:16px ;
    line-height:22px ;
    color: #6E9BB8;
}
.button12 button{
    margin: 41px 482px;
    border: none;
    width: 405px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color:white;
    border-radius:20px 0px 20px 0px;
    transition: all 0.5s;
}
.button12 button:hover{
    background-color: #b5bec8;
}
.card2 .title h1{
    padding-top: 22px;
    font-weight:700 ;
    font-size:18px ;
    line-height:25px ;
}
.card2 .title p{
    margin-top: 2px;
    font-weight:400 ;
    font-size:16px ;
    line-height:22px ;
    color: #6E9BB8;
}
.card3 .title h1{
    padding-top: 22px;
    font-weight:700 ;
    font-size:18px ;
    line-height:25px ;
}
.card3 .title p{
    margin-top: 2px;
    font-weight:400 ;
    font-size:16px ;
    line-height:22px ;
    color: #6E9BB8;
}
.title{
    margin-bottom: 104px;
}
.title .title1 h1{
    margin-top:90px ;
    padding-left: 62px;
    font-weight:400 ;
    font-size:34px ;
    line-height:37px ;
}
.title2{
    margin-top:29px ;
    padding-left: 62px;
    display: flex;
    gap: 28px;
  
}
.title2{
    color: #6E9BB8;
}
.title3 h1{
    margin-top: 37px;
    padding-left: 62px;
}
.card-info .card1{
    display: flex;
    gap: 11px;
    margin-left: 62px;
    background-color:#F0F4F8;
    border-radius:10px;
    width: 1245px;
    height: 44px;
    margin-top: 9px;
}
.card-info img{
    padding-left: 13px;
}
.card-info p{
    padding-top: 9px ;
    padding-left: 11px;
}
.card-info .card2{
    display: flex;
    gap: 11px;
    margin-left: 62px;
    background-color:#F0F4F8;
    border-radius:10px;
    width: 1245px;
    height: 44px;
    margin-top: 9px;
}
.card-info .card3{
    display: flex;
    gap: 11px;
    margin-left: 62px;
    background-color:#F0F4F8;
    border-radius:10px;
    width: 1245px;
    height: 44px;
    margin-top: 9px;
}
.card-info .card4{
    display: flex;
    gap: 11px;
    margin-left: 62px;
    background-color:#F0F4F8;
    border-radius:10px;
    width: 1245px;
    height: 44px;
    margin-top: 9px;
}
.futer{
    
    width: 1368px;
    height: 354px;
    margin: 0 auto;
    background-color:#F0F4F8;
    border-radius:64px 6px;
    margin-bottom: 94px;
}
.futer__container{
    display: flex;
  
    align-items: center;
    gap: 53px;
}
.futer__container .title{
    padding-left: 62px;
    padding-top: 82px;
}
.futer__container .title h2{
    font-weight:400 ;
    font-size:34px ;
    line-height:37px ;
}
.futer__container .title h2 span{
    font-weight:700 ;
    font-size:34px ;
    line-height:37px ;
    color:#0000DE;
   
}
.futer__container .title p{
    font-weight:400 ;
    font-size:16px ;
    line-height:22px ;
    color:#6E9BB8;
    padding-top: 17px;   
}
.futer__container .title .button1{
    width: 240px;
padding-top: 23px;
padding-bottom: 23px;
border: none;
color:white;
background-color: #0000DE;
border-radius: 28px 0px 28px 0px;
margin-top: 33px;
}
.futer__container .title .button2{
    width: 153px;
    margin-top: 33px;
padding-top: 23px;
padding-bottom: 23px;
border: none;
color:#0000DE;
background-color: white;
border-radius: 28px 0px 28px 0px;
margin-left: 17px;
}
